  
<h1>Rate My Rental</h1>

<h3><%= link_to "My Profile", tenant_path(@tenant) %></h3>
<h3><%= link_to "Tenants", tenants_path %></h3>
<h3><%= link_to "Buildings", buildings_path %></h3>
<h3><%= link_to "Building Reviews", building_reviews_path %></h3>
<h3><%= link_to "Landlords", landlords_path %></h3>
<h3><%= link_to "Landlord Reviews", landlord_reviews_path %></h3>

