<h1>Update Profile Information: </h1>
<% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
    <h5><%= message %></h5>
    <% end %>
<% end %>
<%= form_for @tenant do |f| %>

  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <br>

  <%= f.label :username %>:
  <%= f.text_field :username %><br />
  <br>

  <%= f.submit %>
<% end %>

<h5> <%= link_to "View your Profile - Changes will not be saved", tenant_path(@tenant) %>
