<h1 style=font-size:50px><%=@tenant.username%>'s Profile</h1>
    <div class="flex_pic">
    <div class="profile_text">
<p>Name: <%= @tenant.name %> </p>
    <div class="lowerlog">
    <% if @overall_avg > 0 %>
<p class="bold"> Building Reviews: </p>
<% @building_reviews.each do |building_review|%>
<p> Building: <%= building_reviewed(building_review) %> </p>
<p> Review: <%= link_to building_review.title, building_review_path(building_review) %> </p>
<% rating = (building_review.cleanliness + building_review.noise + building_review.super).to_f / 3 %>
<p> Overall Rating: <%= rating.round(2) %> </p>
<hr>
<% end %>
<%else%>
<p class="bold">Building Reviews: </p>
<p> This tenant has not reviewed any buildings.</p>
<hr>
<%end%>
<%if @tenant.building_reviews.count > 0 %>
    <p class="bold">Average Building Rating: <%= @overall_avg.round(2) %></p>
    <% else %>
    <p> Average Building Rating: This tenant has no reviews.</p>
     <% end %>
<hr>
    <% if @tenant.landlord_reviews.count > 0 %>
<p class="bold"> Landlord Reviews: </p>
<% @landlord_reviews.each do |landlord_review|%>
<p> Landlord: <%= link_to landlord_review.landlord.name, landlord_path(landlord_review.landlord) %> </p>
<p> Review: <%= link_to landlord_review.title, landlord_review_path(landlord_review) %> </p>
<p> Overall Rating: <%= landlord_review.rating %> </p>
<hr>
    <%end%>
      <%else%>
      <p class="bold"> Landlord Reviews: </p>
            <p>This tenant has not reviewed any landlords.</p>
            <br>
<% end %>
<% if !@tenant.landlord_reviews && !@tenant.building_reviews%>
<p>This tenant has no reviews.</p>
<%end%>
</div>
</div>
    <div class="right">
<img class="profilepic"src="<%=@tenant.avatar%>" alt="<%=@tenant.username%>">
    </div>
    </div>