<h1>Log In to your Tenant Profile</h1>

<% if flash[:errors] %>
    <h2> <%= flash[:errors] %> </h2>
<% end %> 

<% if flash[:new_account_message] %>
    <h2> <%= flash[:new_account_message] %> </h2>
<% end %> 


<%= form_tag login_path do %>
    <%= label_tag 'Username' %>
    <%= text_field_tag :username %>
    <br>
    <%= label_tag 'Password' %>
    <%= password_field_tag :password %>
    <br>
    <%= submit_tag 'Log In' %>
<% end %>