<html>

<style>
body {
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2013/09/nyc.jpg");
}
</style>

<div class="up">

<h1>Log In to your Tenant Profile</h1>

<% if flash[:errors] %>
    <h2> <%= flash[:errors] %> </h2>
<% end %> 

<% if flash[:new_account_message] %>
    <h2> <%= flash[:new_account_message] %> </h2>
<% end %> 
</div>


<%= form_tag login_path do %>
    <%= label_tag 'Username' %>
    <%= text_field_tag :username %>
    <br>
    <%= label_tag 'Password' %>
    <%= password_field_tag :password %>
    <br>
    <%= submit_tag 'Log In' %>
<% end %>
<br>
<h4><%= link_to "Click here to create a new account", signup_path %></h4>


</html>