<h1 style=font-size:50px><%= @building_review.title %> </h1>

<img class="profilepic" src="<%=@building_review.building.image%>" alt="<%=@building_review.building.address%>">
<div class="lowerlog">
<p> Building: <%= building_reviewed(@building_review) %> </p>
<p> Reviewed By: <%=reviewed_by_content(@building_review) %> </p>
<p> Overall Rating: <%= @overall_rating.round(2) %> </p>
<p> Cleanliness: <%= @building_review.cleanliness %> </p>
<p> Super: <%= @building_review.super %> </p>
<p> Noise: <%= @building_review.noise %> </p>
<% if @building_review.renew == false %>
    <p> Would you Renew? No </p>
<%else%>
    <p> Would you Renew? Yes </p>
<%end%>

<p> <%= @building_review.content %> </p>
<%if @building_review.tenant == current_tenant %>
    <p> <%= link_to "Update Review", edit_building_review_path(@building_review) %> </p>
    <%= button_to "Delete Review", { action: "delete", id: @building_review.id }, method: :delete %>
<%end%>
</div>