<h1><%= @building_review.title %> </h1>

<h2> Building: <%= link_to @building.address, building_path(@building) %> </h2>
<h2> Reviewed By: <%= link_to @tenant.username, tenant_path(@tenant) %> </h2>
<h2> Cleanliness: <%= @building_review.cleanliness %> </h2>
<h2> Super: <%= @building_review.super %> </h2>
<h2> Noise: <%= @building_review.noise %> </h2>
<% if @building_review.renew == false %>
    <h2> Would you Renew? No </h2>
<%else%>
    <h2> Would you Renew? Yes </h2>
<%end%>

<p> <%= @building_review.content %> </p>

<p> <%= link_to "Update Review", edit_building_review_path(@building_review) %> </p>

<p> <%= link_to "View all Reviews", building_reviews_path %> </p>

<%= button_to "Delete Review", { action: "delete", id: @building_review.id }, method: :delete %>