<h1 style=font-size:50px>Landlord Reviews:</h1>
<p><%= link_to "Review a Landlord", new_landlord_review_path %></p>
<%@landlord_reviews.each do |review|%>
<p>Review: <%= link_to review.title, landlord_review_path(review)%></p>
<p>Overall Rating: <%= review.rating %></p>
<p>Landlord: <%= landlord_reviewed(review)%></p>
<p>Reviewed By: <%= reviewed_by_content(review) %></p>
<hr>

<% end %>