<% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
        <%= message %>
    <% end %> 
<% end %> 
  
  <h1>Create a new landlord review:</h1>
<%= form_for @landlord_review do |f| %>

  <p>Landlord: <%= @landlord.name %></p>
  <%= f.hidden_field :landlord_id %>

  <p>Reviewer: <%= @tenant.username %></p>
  <%= f.hidden_field :tenant_id %>
  
  <%= f.label :title %>:
  <%= f.text_field :title %><br />
  <br>

  <%= f.label :content, "Write your review here:" %>
  <%= f.text_area :content %><br />
  <br>

  <%= f.label :rating, "Rate your landlord here:" %>
  <%= f.select :rating, (1..5), prompt: true %> <br>
<br>

   <%= f.label :hotness, "Are they hot? Check if yes:" %>
  <%= f.check_box :hotness %><br />
  <br>

  <%= f.submit %>
<% end %>