<h1><%= @building.address %> </h1>
<h2> Neighborhood: <%= @building.neighborhood %> </h2>
<h3> Number of Apartments: <%= @building.apt_count %> </h3>
<h3> Landlord: <%= link_to @building.landlord.name, landlord_path(@building.landlord) %> </h3>
<h4> <%= @building.description %> </h4>
<% if @overall_avg > 0 %>
<h5>Overall Rating: <%= @overall_avg.round(2) %></h5>
<h5>Average Cleanliness Rating: <%= @avg_cleanliness.round(2) %></h5>
<h5>Average Super Rating: <%= @avg_super.round(2) %></h5>
<h5>Average Noise Rating: <%= @avg_noise.round(2) %></h5>
<h5>Average Renewal Rate: <%= @avg_renewal.round(4) * 100 %>%</h5>
<% else %>
<h5>This building has not been reviewed. <%= link_to "Be the first!", "/building-reviews/new-specific-review?building_id=#{@building.id}" %> </h5>
<% end %>

<h3>Reviews:</h3>

<% @reviews.each do |breview| %>
Written by: <%= link_to breview.tenant.username, tenant_path(breview.tenant) %><br>
Title: <%= link_to breview.title, building_review_path(breview) %><br>
Review: <%= breview.content %><br>
<hr>
<% end %>

<p> <%= link_to "Review this Building", "/building-reviews/new-specific-review?building_id=#{@building.id}" %> </p>

<p> <%= link_to "Update Building Information", edit_building_path(@building) %> </p>

<p> <%= link_to "View all Buildings", buildings_path %> </p>

<%= button_to "Report Building as Closed", { action: "delete", id: @building.id }, method: :delete %>