<h1>Name: <%= @landlord.name %> </h1>
<h1>Nickname: <%= @landlord.nickname %> </h1>
<img src="<%=@landlord.avatar%>" alt="<%=@landlord.nickname%>">
<div class="lowerlog">
<p> <%= link_to "Review this Landlord", "/landlord-reviews/new-specific-review?landlord_id=#{@landlord.id}" %> </p>
<% if @average_rating > 0 %>
<p class="bold"> Average Rating: <%= @average_rating.round(2) %></p>
<p class="bold"> Reviews: </p>
<% @landlord_reviews.each do |landlord_review|%>
<p><%= link_to landlord_review.title, landlord_review_path(landlord_review) %> </p>
<p>Reviewed by: <%= link_to landlord_review.tenant.username, tenant_path(landlord_review.tenant) %> </p>
<p>Rating: <%= landlord_review.rating %> </p>
<hr>
<% end %>
<% else %>
<p>This landlord has not been <%= link_to "reviewed", "/landlord-reviews/new-specific-review?landlord_id=#{@landlord.id}" %> </p>
<% end %>

<p> <%= link_to "Update this Landlord Profile", edit_landlord_path(@landlord) %> </p>

<p> <%= link_to "View all Landlords", landlords_path %> </p>

<%= button_to "Retire this Landlord", { action: "delete", id: @landlord.id }, method: :delete %>
<br>
<br>
</div>