<!DOCTYPE html>
<html>
  <head>
    <title>Aptrater</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    Tenant id: <%= current_tenant.id %>
    <% end %>
  <br>
    <nav>
      <% if logged_in? %>
        <%= link_to "Buildings", buildings_path %>
        <%= link_to "Building Reviews", building_reviews_path %>
        <%= link_to "Landlords", landlords_path %>
        <%= link_to "Landlord Reviews", landlord_reviews_path %>
        <%= link_to "Tenants", tenants_path %>
        <%= link_to "Log Out", logout_path, method: :delete %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
